target/
.idea/
.vscode/
*.iml
*.log
.DS_Store
node_modules/
.env
.venv/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
htmlcov/
dist/
build/

test_config.json
config/test_config.json
tests/config/test_config.json
tests/tools/MicroSIP/
tests/helper_tool/MicroSIP/
tests/helpers/helper_tool/MicroSIP/*.ini
tests/helpers/helper_tool/MicroSIP/*.ini.bak
tests/downloads/*
tests/helpers/helper_tool/MicroSIP/*.db
tests/helpers/helper_tool/MicroSIP/Contacts.xml
tools/pjsip/
tests/helpers/helper_tool/MicroSIP/MicroSIP_log.txt
