Language Pack
Last-Modified-Using: http://www.microsip.org/translation
Language: 
RTL: 

; utf8

[Call]
[End Call]
[Contacts]
[Account]
[Settings]
[Visit Website]
[Exit]
[Browse...]
[Default]
[Auto Answer]
[Disable Local Account]
[OK]
[Save]
[Cancel]
[SIP Server]
[SIP Proxy]
[Domain]
[Password]
[Connecting...]
[Online]
[Local]
[Message]
[Edit]
[Delete]
[Add]
[Bad Gateway]
[Request Timeout]
[Number]
[Name]
[Contact]
[Incoming Call]
[Answer]
[Decline]
[Calling]
[Connecting]
[Connected]
[Auto]
[Transport]
[Incorrect Password]
[Public Address]
[Media Encryption]
[Disabled]
[Optional]
[Mandatory]
[STUN Server]
[Presence Subscription]
[Ringing]
[Call Ended]
[Declined]
[No address found]
[Request Terminated]
[Away]
[Publish Presence]
[Session Progress]
[Camera]
[Video Call]
[Answer with Video]
[View Log File]
[Microphone]
[Speaker]
[Video Codec]
[Check for Updates]
[Daily]
[Weekly]
[Monthly]
[Quarterly]
[Never]
[Update Available]
[Invalid Number]
[Offline]
[Single Call Mode]
[Local Video]
[Call Transfer]
[final]
[Call transfered successfully, disconnecting call]
[Hold]
[Transfer]
[Sound Events]
[Bitrate]
[Login]
[Enable Log File]
[Duration]
[Information]
[display password]
[From]
[To]
[Ring Device]
[Service Unavailable]
[Busy Here]
[Trying]
[Method Not Allowed]
[Not Found]
[Always on Top]
[Connect]
[Last Call]
[Close All]
[Copy]
[Select All]
[Display Name]
[Remember Details]
[No]
[All Calls]
[SIP Header]
[Different User]
[Different Domain]
[Different User or Domain]
[Different Remote Domain]
[Deny Incoming]
[Allow IP Rewrite]
[Directory of Users]
[Call on Remote Hold]
[Call on Local Hold]
[Call on Hold]
[Call is Active]
[Force Codec for Incoming]
[Menu]
[Edit Account]
[Add Account...]
[Delete Account]
[Make Active]
[Are you sure you want to remove?]
[Call Pickup]
[Speaker Level]
[Microphone Level]
[Mute Speaker]
[Mute Microphone]
[Please fill out at least the required fields marked with *.]
[Ask your SIP provider how to configure the account correctly.]
[Time]
[Phone]
[Ringtone]
[Username]
[Do you want to update now?]
[Available Codecs]
[Enabled Codecs]
[Logs]
[Random Popup Position]
[Attended Transfer]
[Enable Local Account]
[Send Crash Report]
[Account Name]
[Invite to Conference]
[Merge]
[Separate]
[Disconnect]
[DTMF Method]
[Voicemail Number]
[Disable Session Timers]
[Microphone Amplification]
[Software Level Adjustment]
[Shortcuts]
[Enable]
[Label]
[Type]
[Bottom Position]
[You need to restart application for the changes to take effect.]
[Handle Media Buttons]
[Bring to Front on Incoming Call]
[Help]
[Video Bitrate]
[Control Button]
[Do Not Disturb]
[Source Port]
[RTP Ports]
[Import]
[Blind Transfer]
[Redial]
[Backspace]
[Clear]
[Use Space key to enable selected codec]
[Use Delele key to disable selected codec]
[Conference]
[Dialing Prefix]
[Register Refresh]
[Keep-Alive]
[Ringtone Volume]
[Call Recording]
[Nameserver]
[Default List Action]
[Edit Local Account]
[Export]
[Call Waiting]
[Ready]
[Not online]
[On the phone]
[First Name]
[Last Name]
[Phone Number]
[Mobile Number]
[E-mail Address]
[Address]
[City]
[State]
[Postal Code]
[Comment]
[close window to ignore call]
[Headset Support]
[sec]
[Call Forwarding]
[Are you sure you want to delete?]
[Delete Contact]
[Account or credentials not found.]
[Please fill out all required fields.]
[Dial Plan]
[Disable Video]
[Disable Messaging]
[Register]
[Unregister]
[Options]
[Delay]
[Caller Number]
[Unable to find default audio device]
[Network is unreachable]
[Microphone access is blocked. Please check your antivirus settings or security software.]
[Microphone access is turned off. Enable it in Windows Settings.]
[Canceled]
[Softphone is not initialized. Check your settings.]
[Unable to initialize network sockets.]
[Unable to connect to the remote server.]
[Starred]
[Run at System Startup]
[Run Batch]
[Call URL]
[Call All]
[Custom]
[Add Contact]
[Incorrect dialing or non-existent number.]
[End]
[Address Incomplete]
[Not acceptable here]
[Idle]
[Toggle]
[Connection refused]
[Connection timed out]
[Cannot get IP address of the called host]
[Answered Elsewhere]
[Missed Call]
[Do you want to delete user data and program settings? This action cannot be undone.]
[Unavailable]
[Call Limit]
[Hide Caller ID]
[Feature Codes]
[Connection Failed]
[The server returned an error code:]
[The received data cannot be recognized]
[Multi Monitor Support]
[Handle IP changes]
[Are you sure you want to delete the selected items?]
[Delete Call Log]
[Accounts]
[Selected Accounts]
[Use Space key to add account]
[Use Delele key to remove account]
[Export Configuration]
[Import Configuration]
[Export Call Log]
[Import Call Log]
[Export Contacts]
[Import Contacts]
[Export/Import]
[Soft]
[Hard]
[Active Calls]
[You already have an active call with this number.]
[Attended transfer is not available in single-call mode. Disable this mode or use PBX feature codes.]
[Transfer Call to]
[Disable name lookup in directory]
[Unauthorized]
[Merge All]
[Separate All]
[Auto Conference]
[Updating to the latest version may resolve this issue.]
[Open the download page now?]
[The application may have been launched from an unsafe location. Please download the application from the official website.]
[See the Freezes or Crashes help section.]
[Open troubleshooting page?]
[Update now to stay secure and take advantage of the latest improvements.]
[Thanks for testing the beta!]
[The final version is now available. Download it from our website.]
[Camera access is turned off.]
[A Lite version without video support is also available.]
[This application requires camera access for desktop apps to function properly.]
[Contact already exists]
[Microphone and speakers are required.]
[No microphone or audio output device was detected. Please connect them to make calls.]
[Network connection is not available.]
[Please check that your firewall or antivirus is not blocking this application.]
[A contact with this phone number already exists. Do you want to replace it?]
[Activate or add an account in the main menu of the softphone.]
[A newer version may be available]
[Please visit our website to check for updates.]
[This version is outdated]
[This version is no longer supported]
[Please visit our website to download the latest version.]
[Try the Lite version or update your graphics and camera drivers.]
[A critical error occurred in the video subsystem]
[The application crashed]
[Unable to create media session]
[Call failed:]
[Unsupported codecs, encryption methods, or other media parameters.]
[Server error]
[unencrypted]
[This could be caused by driver issues, or other unexpected system problems.]
[A critical error occurred in the audio subsystem]
[A critical error occurred in the module on your PC]
[Unable to send the network request.]
[If you don't have your account details, contact your IP telephony provider to obtain them.]
[]
